#wa-compimage-kjgcjyir5fqh6w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-kjgcjyir2s7swg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kjgcjyir5apxwo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kjgcjyir5apyi8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kjgcjyir5apzpc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kjgcjyir5aq0aw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kjlnecsn47fgnk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kjlnecsn47fgnk>.row>.clearfix {margin-bottom:0px;}
#wa-container-kjlnecsn47fgnk>.wa-container-vspacer {height:0px;}
#wa-container-kjlnecsv47fi74 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kjlnecsv47fi74>.row>.clearfix {margin-bottom:0px;}
#wa-container-kjlnecsv47fi74>.wa-container-vspacer {height:0px;}
#wa-row-kjgcjyir47gmqg {margin:0px 0px;}
#wa-row-kjgcjyir47gmqg>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gn14 {margin:0px 0px;}
#wa-row-kjgcjyir47gn14>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gnbs {margin:0px 0px;}
#wa-row-kjgcjyir47gnbs>div {padding: 0px 0px;}
#wa-row-kjgcjyir47god4 {margin:0px 0px;}
#wa-row-kjgcjyir47god4>div {padding: 0px 0px;}
#wa-row-kjgcjyir47goig {margin:0px 0px;}
#wa-row-kjgcjyir47goig>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gons {margin:0px 0px;}
#wa-row-kjgcjyir47gons>div {padding: 0px 0px;}
#wa-row-kjgcjyir47got4 {margin:0px 0px;}
#wa-row-kjgcjyir47got4>div {padding: 0px 0px;}
#wa-row-kjgcjyir47goyg {margin:0px 0px;}
#wa-row-kjgcjyir47goyg>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gp3s {margin:0px 0px;}
#wa-row-kjgcjyir47gp3s>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gp94 {margin:0px 0px;}
#wa-row-kjgcjyir47gp94>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gpug {margin:0px 0px;}
#wa-row-kjgcjyir47gpug>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gqag {margin:0px 0px;}
#wa-row-kjgcjyir47gqag>div {padding: 0px 0px;}
#wa-row-kjgcjyir5d30og>.wa-item-rowspacer {height:100px;}
#wa-row-kjgcjyir5d30xs>.wa-item-rowspacer {height:80px;}
#wa-row-kjgcjyir5d31ps>.wa-item-rowspacer {height:75px;}
#wa-row-kjgcjyir5d31ug>.wa-item-rowspacer {height:100px;}
#wa-sub-container-kjlnecsn47f8xs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kjlnecsn47f8xs>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kjlnecsn47f8xs>.wa-container-vspacer {height:0px;}
#wa-sub-container-kjlnecsp47f860 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kjlnecsp47f860>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kjlnecsp47f860>.wa-container-vspacer {height:0px;}
#wa-sub-container-kjlnecsq47fhfc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kjlnecsq47fhfc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kjlnecsq47fhfc>.wa-container-vspacer {height:0px;}
#wa-sub-container-kjlnecss47ff40 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kjlnecss47ff40>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kjlnecss47ff40>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kjgcjyir5glyxc] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kjgcjyir5glyxc] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kjgcjyir5glyxc] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default {background-color:rgba(248,248,248,0); border-color:rgba(247,247,247,0); border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-brand, [id^=wa-compmenu-kjgcjyir5glyxc].navbar-nav li a, [id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; font-size:14px; color:#42200b;}
[id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#42200b;}
[id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-nav > .open > a:focus {color:#904417; background-color:rgba(231,231,231,0);}
[id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#42200b !important;}
[id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-toggle .icon-bar {background-color:#42200b;}
[id^=wa-compmenu-kjgcjyir5glyxc] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kjgcjyir5glyxc].navbar-default .navbar-toggle:hover {background-color:#42200b !important;}
[id^=wa-compmenu-kjgcjyir5glyxc].navbar-fixed-top .navbar {background-color:#ffc645;}
[id^=wa-compmenu-kjgcjyir5gm0vc] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kjgcjyir5gm0vc] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kjgcjyir5gm0vc] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-brand, [id^=wa-compmenu-kjgcjyir5gm0vc].navbar-nav li a, [id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:18px; color:#4b1a0e;}
[id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#4b1a0e;}
[id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-nav > .open > a:focus {color:#4b1a0e; background-color:#e7e7e7;}
[id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-kjgcjyir5gm0vc] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kjgcjyir5gm0vc].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
@media (min-width: 768px){
#wa-row-kjgcjyir47gmqg {margin:0px 0px;}
#wa-row-kjgcjyir47gmqg>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gn14 {margin:0px 0px;}
#wa-row-kjgcjyir47gn14>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gnbs {margin:0px 0px;}
#wa-row-kjgcjyir47gnbs>div {padding: 0px 0px;}
#wa-row-kjgcjyir47god4 {margin:0px 0px;}
#wa-row-kjgcjyir47god4>div {padding: 0px 0px;}
#wa-row-kjgcjyir47goig {margin:0px 0px;}
#wa-row-kjgcjyir47goig>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gons {margin:0px 0px;}
#wa-row-kjgcjyir47gons>div {padding: 0px 0px;}
#wa-row-kjgcjyir47got4 {margin:0px 0px;}
#wa-row-kjgcjyir47got4>div {padding: 0px 0px;}
#wa-row-kjgcjyir47goyg {margin:0px 0px;}
#wa-row-kjgcjyir47goyg>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gp3s {margin:0px 0px;}
#wa-row-kjgcjyir47gp3s>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gp94 {margin:0px 0px;}
#wa-row-kjgcjyir47gp94>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gpug {margin:0px 0px;}
#wa-row-kjgcjyir47gpug>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gqag {margin:0px 0px;}
#wa-row-kjgcjyir47gqag>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kjgcjyir47gmqg {margin:0px 0px;}
#wa-row-kjgcjyir47gmqg>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gn14 {margin:0px 0px;}
#wa-row-kjgcjyir47gn14>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gnbs {margin:0px 0px;}
#wa-row-kjgcjyir47gnbs>div {padding: 0px 0px;}
#wa-row-kjgcjyir47god4 {margin:0px 0px;}
#wa-row-kjgcjyir47god4>div {padding: 0px 0px;}
#wa-row-kjgcjyir47goig {margin:0px 0px;}
#wa-row-kjgcjyir47goig>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gons {margin:0px 0px;}
#wa-row-kjgcjyir47gons>div {padding: 0px 0px;}
#wa-row-kjgcjyir47got4 {margin:0px 0px;}
#wa-row-kjgcjyir47got4>div {padding: 0px 0px;}
#wa-row-kjgcjyir47goyg {margin:0px 0px;}
#wa-row-kjgcjyir47goyg>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gp3s {margin:0px 0px;}
#wa-row-kjgcjyir47gp3s>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gp94 {margin:0px 0px;}
#wa-row-kjgcjyir47gp94>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gpug {margin:0px 0px;}
#wa-row-kjgcjyir47gpug>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gqag {margin:0px 0px;}
#wa-row-kjgcjyir47gqag>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kjgcjyir47gmqg {margin:0px 0px;}
#wa-row-kjgcjyir47gmqg>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gn14 {margin:0px 0px;}
#wa-row-kjgcjyir47gn14>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gnbs {margin:0px 0px;}
#wa-row-kjgcjyir47gnbs>div {padding: 0px 0px;}
#wa-row-kjgcjyir47god4 {margin:0px 0px;}
#wa-row-kjgcjyir47god4>div {padding: 0px 0px;}
#wa-row-kjgcjyir47goig {margin:0px 0px;}
#wa-row-kjgcjyir47goig>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gons {margin:0px 0px;}
#wa-row-kjgcjyir47gons>div {padding: 0px 0px;}
#wa-row-kjgcjyir47got4 {margin:0px 0px;}
#wa-row-kjgcjyir47got4>div {padding: 0px 0px;}
#wa-row-kjgcjyir47goyg {margin:0px 0px;}
#wa-row-kjgcjyir47goyg>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gp3s {margin:0px 0px;}
#wa-row-kjgcjyir47gp3s>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gp94 {margin:0px 0px;}
#wa-row-kjgcjyir47gp94>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gpug {margin:0px 0px;}
#wa-row-kjgcjyir47gpug>div {padding: 0px 0px;}
#wa-row-kjgcjyir47gqag {margin:0px 0px;}
#wa-row-kjgcjyir47gqag>div {padding: 0px 0px;}
}
