#wa-compimage-kiq0uoi62vgg9c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-kiq0uoi65c8w2g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kiq0uoi65c8wo0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kiq0uoi65c8xv4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kiq0uoi65c8z28 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kiq0uoi65c8zns {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kiq0uoi65c90uw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kiqodcbb5gg8og {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kiqodcbb5gg8og>.row>.clearfix {margin-bottom:0px;}
#wa-container-kiqodcbb5gg8og>.wa-container-vspacer {height:0px;}
#wa-container-kiqodcbj5gg74w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kiqodcbj5gg74w>.row>.clearfix {margin-bottom:0px;}
#wa-container-kiqodcbj5gg74w>.wa-container-vspacer {height:0px;}
#wa-row-kiq0uoi649qgl4>.wa-item-rowspacer {height:100px;}
#wa-row-kiq0uoi649qins>.wa-item-rowspacer {height:100px;}
#wa-row-kiq0uoi649qjts>.wa-item-rowspacer {height:75px;}
#wa-row-kiq0uoi65f9az4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9az4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9bf4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9bf4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9c0g {margin:0px 0px;}
#wa-row-kiq0uoi65f9c0g>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9c5s {margin:0px 0px;}
#wa-row-kiq0uoi65f9c5s>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9d74 {margin:0px 0px;}
#wa-row-kiq0uoi65f9d74>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9dcg {margin:0px 0px;}
#wa-row-kiq0uoi65f9dcg>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9dhs {margin:0px 0px;}
#wa-row-kiq0uoi65f9dhs>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9ez4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9ez4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9f4g {margin:0px 0px;}
#wa-row-kiq0uoi65f9f4g>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9f9s {margin:0px 0px;}
#wa-row-kiq0uoi65f9f9s>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9ff4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9ff4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9fkg {margin:0px 0px;}
#wa-row-kiq0uoi65f9fkg>div {padding: 0px 0px;}
#wa-sub-container-kiqodcbc5gg4tk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kiqodcbc5gg4tk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kiqodcbc5gg4tk>.wa-container-vspacer {height:0px;}
#wa-sub-container-kiqodcbd5ggfmg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kiqodcbd5ggfmg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kiqodcbd5ggfmg>.wa-container-vspacer {height:0px;}
#wa-sub-container-kiqodcbe5ggcjc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kiqodcbe5ggcjc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kiqodcbe5ggcjc>.wa-container-vspacer {height:0px;}
#wa-sub-container-kiqodcbh5gg5lc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kiqodcbh5gg5lc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kiqodcbh5gg5lc>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kiq0uoi64623aw] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kiq0uoi64623aw] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kiq0uoi64623aw] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-kiq0uoi64623aw] .navbar-default {background-color:rgba(248,248,248,0); border-color:rgba(247,247,247,0); border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-brand, [id^=wa-compmenu-kiq0uoi64623aw].navbar-nav li a, [id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; font-size:14px; color:#42200b;}
[id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#42200b;}
[id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-nav > .open > a:focus {color:#904417; background-color:rgba(231,231,231,0);}
[id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#42200b !important;}
[id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-toggle .icon-bar {background-color:#42200b;}
[id^=wa-compmenu-kiq0uoi64623aw] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kiq0uoi64623aw].navbar-default .navbar-toggle:hover {background-color:#42200b !important;}
[id^=wa-compmenu-kiq0uoi64623aw].navbar-fixed-top .navbar {background-color:#ffc645;}
[id^=wa-compmenu-kiqfqaqi4abvko] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kiqfqaqi4abvko] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kiqfqaqi4abvko] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-brand, [id^=wa-compmenu-kiqfqaqi4abvko].navbar-nav li a, [id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:18px; color:#4b1a0e;}
[id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#4b1a0e;}
[id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-nav > .open > a:focus {color:#4b1a0e; background-color:#e7e7e7;}
[id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-kiqfqaqi4abvko] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kiqfqaqi4abvko].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
@media (min-width: 768px){
#wa-row-kiq0uoi65f9az4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9az4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9bf4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9bf4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9c0g {margin:0px 0px;}
#wa-row-kiq0uoi65f9c0g>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9c5s {margin:0px 0px;}
#wa-row-kiq0uoi65f9c5s>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9d74 {margin:0px 0px;}
#wa-row-kiq0uoi65f9d74>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9dcg {margin:0px 0px;}
#wa-row-kiq0uoi65f9dcg>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9dhs {margin:0px 0px;}
#wa-row-kiq0uoi65f9dhs>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9ez4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9ez4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9f4g {margin:0px 0px;}
#wa-row-kiq0uoi65f9f4g>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9f9s {margin:0px 0px;}
#wa-row-kiq0uoi65f9f9s>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9ff4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9ff4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9fkg {margin:0px 0px;}
#wa-row-kiq0uoi65f9fkg>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kiq0uoi65f9az4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9az4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9bf4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9bf4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9c0g {margin:0px 0px;}
#wa-row-kiq0uoi65f9c0g>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9c5s {margin:0px 0px;}
#wa-row-kiq0uoi65f9c5s>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9d74 {margin:0px 0px;}
#wa-row-kiq0uoi65f9d74>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9dcg {margin:0px 0px;}
#wa-row-kiq0uoi65f9dcg>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9dhs {margin:0px 0px;}
#wa-row-kiq0uoi65f9dhs>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9ez4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9ez4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9f4g {margin:0px 0px;}
#wa-row-kiq0uoi65f9f4g>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9f9s {margin:0px 0px;}
#wa-row-kiq0uoi65f9f9s>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9ff4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9ff4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9fkg {margin:0px 0px;}
#wa-row-kiq0uoi65f9fkg>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kiq0uoi65f9az4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9az4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9bf4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9bf4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9c0g {margin:0px 0px;}
#wa-row-kiq0uoi65f9c0g>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9c5s {margin:0px 0px;}
#wa-row-kiq0uoi65f9c5s>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9d74 {margin:0px 0px;}
#wa-row-kiq0uoi65f9d74>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9dcg {margin:0px 0px;}
#wa-row-kiq0uoi65f9dcg>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9dhs {margin:0px 0px;}
#wa-row-kiq0uoi65f9dhs>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9ez4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9ez4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9f4g {margin:0px 0px;}
#wa-row-kiq0uoi65f9f4g>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9f9s {margin:0px 0px;}
#wa-row-kiq0uoi65f9f9s>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9ff4 {margin:0px 0px;}
#wa-row-kiq0uoi65f9ff4>div {padding: 0px 0px;}
#wa-row-kiq0uoi65f9fkg {margin:0px 0px;}
#wa-row-kiq0uoi65f9fkg>div {padding: 0px 0px;}
}
