#wa-compimage-kjmyhbob62vfdc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-kjmyhbob67d5yo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kjmyhbob67d6k8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kjmyhbob67d7rc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kjmyhbob68ax7s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kjmyhbob68b3sw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kjn0hg7c4vdt08 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kjn0hg7c4vdt08>.row>.clearfix {margin-bottom:0px;}
#wa-container-kjn0hg7c4vdt08>.wa-container-vspacer {height:0px;}
#wa-container-kjn0hg7k4vdts0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kjn0hg7k4vdts0>.row>.clearfix {margin-bottom:0px;}
#wa-container-kjn0hg7k4vdts0>.wa-container-vspacer {height:0px;}
#wa-row-kjmyhbob4wyzo0>.wa-item-rowspacer {height:80px;}
#wa-row-kjmyhbob4wz13c>.wa-item-rowspacer {height:75px;}
#wa-row-kjmyhbob4wz200>.wa-item-rowspacer {height:100px;}
#wa-row-kjmyhbob4wz2s0>.wa-item-rowspacer {height:100px;}
#wa-row-kjmyhbob62pmq8 {margin:0px 0px;}
#wa-row-kjmyhbob62pmq8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62po28 {margin:0px 0px;}
#wa-row-kjmyhbob62po28>div {padding: 0px 0px;}
#wa-row-kjmyhbob62po7k {margin:0px 0px;}
#wa-row-kjmyhbob62po7k>div {padding: 0px 0px;}
#wa-row-kjmyhbob62poi8 {margin:0px 0px;}
#wa-row-kjmyhbob62poi8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pp8w {margin:0px 0px;}
#wa-row-kjmyhbob62pp8w>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppe8 {margin:0px 0px;}
#wa-row-kjmyhbob62ppe8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppjk {margin:0px 0px;}
#wa-row-kjmyhbob62ppjk>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppu8 {margin:0px 0px;}
#wa-row-kjmyhbob62ppu8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppzk {margin:0px 0px;}
#wa-row-kjmyhbob62ppzk>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pq4w {margin:0px 0px;}
#wa-row-kjmyhbob62pq4w>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pqa8 {margin:0px 0px;}
#wa-row-kjmyhbob62pqa8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pqfk {margin:0px 0px;}
#wa-row-kjmyhbob62pqfk>div {padding: 0px 0px;}
#wa-sub-container-kjn0hg7c4vdmu0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kjn0hg7c4vdmu0>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kjn0hg7c4vdmu0>.wa-container-vspacer {height:0px;}
#wa-sub-container-kjn0hg7d4vdpx4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kjn0hg7d4vdpx4>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kjn0hg7d4vdpx4>.wa-container-vspacer {height:0px;}
#wa-sub-container-kjn0hg7f4vdrgo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kjn0hg7f4vdrgo>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kjn0hg7f4vdrgo>.wa-container-vspacer {height:0px;}
#wa-sub-container-kjn0hg7i4vds8g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kjn0hg7i4vds8g>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kjn0hg7i4vds8g>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kjmyhbob4xl160] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kjmyhbob4xl160] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kjmyhbob4xl160] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-kjmyhbob4xl160] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-brand, [id^=wa-compmenu-kjmyhbob4xl160].navbar-nav li a, [id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:18px; color:#4b1a0e;}
[id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#4b1a0e;}
[id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-nav > .open > a:focus {color:#4b1a0e; background-color:#e7e7e7;}
[id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-kjmyhbob4xl160] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kjmyhbob4xl160].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
[id^=wa-compmenu-kjmyhbob4xl1y0] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kjmyhbob4xl1y0] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kjmyhbob4xl1y0] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default {background-color:rgba(248,248,248,0); border-color:rgba(247,247,247,0); border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-brand, [id^=wa-compmenu-kjmyhbob4xl1y0].navbar-nav li a, [id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; font-size:14px; color:#42200b;}
[id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#42200b;}
[id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-nav > .open > a:focus {color:#904417; background-color:rgba(231,231,231,0);}
[id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#42200b !important;}
[id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-toggle .icon-bar {background-color:#42200b;}
[id^=wa-compmenu-kjmyhbob4xl1y0] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kjmyhbob4xl1y0].navbar-default .navbar-toggle:hover {background-color:#42200b !important;}
[id^=wa-compmenu-kjmyhbob4xl1y0].navbar-fixed-top .navbar {background-color:#ffc645;}
@media (min-width: 768px){
#wa-row-kjmyhbob62pmq8 {margin:0px 0px;}
#wa-row-kjmyhbob62pmq8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62po28 {margin:0px 0px;}
#wa-row-kjmyhbob62po28>div {padding: 0px 0px;}
#wa-row-kjmyhbob62po7k {margin:0px 0px;}
#wa-row-kjmyhbob62po7k>div {padding: 0px 0px;}
#wa-row-kjmyhbob62poi8 {margin:0px 0px;}
#wa-row-kjmyhbob62poi8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pp8w {margin:0px 0px;}
#wa-row-kjmyhbob62pp8w>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppe8 {margin:0px 0px;}
#wa-row-kjmyhbob62ppe8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppjk {margin:0px 0px;}
#wa-row-kjmyhbob62ppjk>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppu8 {margin:0px 0px;}
#wa-row-kjmyhbob62ppu8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppzk {margin:0px 0px;}
#wa-row-kjmyhbob62ppzk>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pq4w {margin:0px 0px;}
#wa-row-kjmyhbob62pq4w>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pqa8 {margin:0px 0px;}
#wa-row-kjmyhbob62pqa8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pqfk {margin:0px 0px;}
#wa-row-kjmyhbob62pqfk>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kjmyhbob62pmq8 {margin:0px 0px;}
#wa-row-kjmyhbob62pmq8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62po28 {margin:0px 0px;}
#wa-row-kjmyhbob62po28>div {padding: 0px 0px;}
#wa-row-kjmyhbob62po7k {margin:0px 0px;}
#wa-row-kjmyhbob62po7k>div {padding: 0px 0px;}
#wa-row-kjmyhbob62poi8 {margin:0px 0px;}
#wa-row-kjmyhbob62poi8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pp8w {margin:0px 0px;}
#wa-row-kjmyhbob62pp8w>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppe8 {margin:0px 0px;}
#wa-row-kjmyhbob62ppe8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppjk {margin:0px 0px;}
#wa-row-kjmyhbob62ppjk>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppu8 {margin:0px 0px;}
#wa-row-kjmyhbob62ppu8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppzk {margin:0px 0px;}
#wa-row-kjmyhbob62ppzk>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pq4w {margin:0px 0px;}
#wa-row-kjmyhbob62pq4w>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pqa8 {margin:0px 0px;}
#wa-row-kjmyhbob62pqa8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pqfk {margin:0px 0px;}
#wa-row-kjmyhbob62pqfk>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kjmyhbob62pmq8 {margin:0px 0px;}
#wa-row-kjmyhbob62pmq8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62po28 {margin:0px 0px;}
#wa-row-kjmyhbob62po28>div {padding: 0px 0px;}
#wa-row-kjmyhbob62po7k {margin:0px 0px;}
#wa-row-kjmyhbob62po7k>div {padding: 0px 0px;}
#wa-row-kjmyhbob62poi8 {margin:0px 0px;}
#wa-row-kjmyhbob62poi8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pp8w {margin:0px 0px;}
#wa-row-kjmyhbob62pp8w>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppe8 {margin:0px 0px;}
#wa-row-kjmyhbob62ppe8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppjk {margin:0px 0px;}
#wa-row-kjmyhbob62ppjk>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppu8 {margin:0px 0px;}
#wa-row-kjmyhbob62ppu8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62ppzk {margin:0px 0px;}
#wa-row-kjmyhbob62ppzk>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pq4w {margin:0px 0px;}
#wa-row-kjmyhbob62pq4w>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pqa8 {margin:0px 0px;}
#wa-row-kjmyhbob62pqa8>div {padding: 0px 0px;}
#wa-row-kjmyhbob62pqfk {margin:0px 0px;}
#wa-row-kjmyhbob62pqfk>div {padding: 0px 0px;}
}
