#wa-compimage-kiqfuslo5dtptc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-kiqfuslo5c5ra0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kiqfuslo5c5vgw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kiqfuslo5c5w2g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kiqfuslo5c5xv4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kiqfuslo5c60uw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kixk6kbv493ars {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kixk6kbv493ars>.row>.clearfix {margin-bottom:0px;}
#wa-container-kixk6kbv493ars>.wa-container-vspacer {height:0px;}
#wa-container-kixk6kc54931ig {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kixk6kc54931ig>.row>.clearfix {margin-bottom:0px;}
#wa-container-kixk6kc54931ig>.wa-container-vspacer {height:0px;}
#wa-row-kiqfuslo5b5xco {margin:0px 0px;}
#wa-row-kiqfuslo5b5xco>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5xi0 {margin:0px 0px;}
#wa-row-kiqfuslo5b5xi0>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5xnc {margin:0px 0px;}
#wa-row-kiqfuslo5b5xnc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5yzc {margin:0px 0px;}
#wa-row-kiqfuslo5b5yzc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5za0 {margin:0px 0px;}
#wa-row-kiqfuslo5b5za0>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zfc {margin:0px 0px;}
#wa-row-kiqfuslo5b5zfc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zko {margin:0px 0px;}
#wa-row-kiqfuslo5b5zko>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zvc {margin:0px 0px;}
#wa-row-kiqfuslo5b5zvc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b6060 {margin:0px 0px;}
#wa-row-kiqfuslo5b6060>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b60rc {margin:0px 0px;}
#wa-row-kiqfuslo5b60rc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b60wo {margin:0px 0px;}
#wa-row-kiqfuslo5b60wo>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b6120 {margin:0px 0px;}
#wa-row-kiqfuslo5b6120>div {padding: 0px 0px;}
#wa-row-kiqfuslo5cjjyw>.wa-item-rowspacer {height:75px;}
#wa-row-kiqfuslo5cjk3k>.wa-item-rowspacer {height:100px;}
#wa-row-kiqfuslo5cjkcw>.wa-item-rowspacer {height:100px;}
#wa-sub-container-kixk6kbv493bjk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kixk6kbv493bjk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kixk6kbv493bjk>.wa-container-vspacer {height:0px;}
#wa-sub-container-kixk6kbw4936ww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kixk6kbw4936ww>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kixk6kbw4936ww>.wa-container-vspacer {height:0px;}
#wa-sub-container-kixk6kby4937oo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kixk6kby4937oo>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kixk6kby4937oo>.wa-container-vspacer {height:0px;}
#wa-sub-container-kixk6kc24938gg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kixk6kc24938gg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kixk6kc24938gg>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kiqfuslo40vwww] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kiqfuslo40vwww] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kiqfuslo40vwww] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-kiqfuslo40vwww] .navbar-default {background-color:rgba(248,248,248,0); border-color:rgba(247,247,247,0); border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-brand, [id^=wa-compmenu-kiqfuslo40vwww].navbar-nav li a, [id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; font-size:14px; color:#42200b;}
[id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#42200b;}
[id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-nav > .open > a:focus {color:#904417; background-color:rgba(231,231,231,0);}
[id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#42200b !important;}
[id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-toggle .icon-bar {background-color:#42200b;}
[id^=wa-compmenu-kiqfuslo40vwww] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kiqfuslo40vwww].navbar-default .navbar-toggle:hover {background-color:#42200b !important;}
[id^=wa-compmenu-kiqfuslo40vwww].navbar-fixed-top .navbar {background-color:#ffc645;}
[id^=wa-compmenu-kiqqeazv5eayw0] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kiqqeazv5eayw0] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kiqqeazv5eayw0] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-brand, [id^=wa-compmenu-kiqqeazv5eayw0].navbar-nav li a, [id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:18px; color:#4b1a0e;}
[id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#4b1a0e;}
[id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-nav > .open > a:focus {color:#4b1a0e; background-color:#e7e7e7;}
[id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-kiqqeazv5eayw0] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kiqqeazv5eayw0].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
@media (min-width: 768px){
#wa-row-kiqfuslo5b5xco {margin:0px 0px;}
#wa-row-kiqfuslo5b5xco>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5xi0 {margin:0px 0px;}
#wa-row-kiqfuslo5b5xi0>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5xnc {margin:0px 0px;}
#wa-row-kiqfuslo5b5xnc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5yzc {margin:0px 0px;}
#wa-row-kiqfuslo5b5yzc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5za0 {margin:0px 0px;}
#wa-row-kiqfuslo5b5za0>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zfc {margin:0px 0px;}
#wa-row-kiqfuslo5b5zfc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zko {margin:0px 0px;}
#wa-row-kiqfuslo5b5zko>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zvc {margin:0px 0px;}
#wa-row-kiqfuslo5b5zvc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b6060 {margin:0px 0px;}
#wa-row-kiqfuslo5b6060>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b60rc {margin:0px 0px;}
#wa-row-kiqfuslo5b60rc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b60wo {margin:0px 0px;}
#wa-row-kiqfuslo5b60wo>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b6120 {margin:0px 0px;}
#wa-row-kiqfuslo5b6120>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kiqfuslo5b5xco {margin:0px 0px;}
#wa-row-kiqfuslo5b5xco>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5xi0 {margin:0px 0px;}
#wa-row-kiqfuslo5b5xi0>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5xnc {margin:0px 0px;}
#wa-row-kiqfuslo5b5xnc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5yzc {margin:0px 0px;}
#wa-row-kiqfuslo5b5yzc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5za0 {margin:0px 0px;}
#wa-row-kiqfuslo5b5za0>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zfc {margin:0px 0px;}
#wa-row-kiqfuslo5b5zfc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zko {margin:0px 0px;}
#wa-row-kiqfuslo5b5zko>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zvc {margin:0px 0px;}
#wa-row-kiqfuslo5b5zvc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b6060 {margin:0px 0px;}
#wa-row-kiqfuslo5b6060>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b60rc {margin:0px 0px;}
#wa-row-kiqfuslo5b60rc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b60wo {margin:0px 0px;}
#wa-row-kiqfuslo5b60wo>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b6120 {margin:0px 0px;}
#wa-row-kiqfuslo5b6120>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kiqfuslo5b5xco {margin:0px 0px;}
#wa-row-kiqfuslo5b5xco>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5xi0 {margin:0px 0px;}
#wa-row-kiqfuslo5b5xi0>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5xnc {margin:0px 0px;}
#wa-row-kiqfuslo5b5xnc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5yzc {margin:0px 0px;}
#wa-row-kiqfuslo5b5yzc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5za0 {margin:0px 0px;}
#wa-row-kiqfuslo5b5za0>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zfc {margin:0px 0px;}
#wa-row-kiqfuslo5b5zfc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zko {margin:0px 0px;}
#wa-row-kiqfuslo5b5zko>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b5zvc {margin:0px 0px;}
#wa-row-kiqfuslo5b5zvc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b6060 {margin:0px 0px;}
#wa-row-kiqfuslo5b6060>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b60rc {margin:0px 0px;}
#wa-row-kiqfuslo5b60rc>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b60wo {margin:0px 0px;}
#wa-row-kiqfuslo5b60wo>div {padding: 0px 0px;}
#wa-row-kiqfuslo5b6120 {margin:0px 0px;}
#wa-row-kiqfuslo5b6120>div {padding: 0px 0px;}
}
