#wa-compimage-kif4p60j3ixgvc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-kif4p60j45s6c8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kif4p60j45s6xs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kif4p60j45s7jc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kif4p60j45sbq8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kif9kln44bxd48 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kif9kln44bxdps {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kif9kln44bxgpk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kif9kln44bxli0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kif9kln44bxqag {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kif9kln44bxqw0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kif9klov4bxsoo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kigmhdxv596a8o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kigmik0c58acc8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:rgba(0,0,0,0);padding:10px 10px 10px 10px;}
#wa-comptext-kigmik0c58ae4w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 20px;border-style:solid; border-color:rgba(0,0,0,0);padding:10px 10px 10px 10px;}
#wa-comptext-kigmik0c58ah4o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kigmik0c58aibs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kigmik0c58aixc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kikhd8up2odqk0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kikhd8up2odqk0>.row>.clearfix {margin-bottom:0px;}
#wa-container-kikhd8up2odqk0>.wa-container-vspacer {height:0px;}
#wa-container-kikhd8vm45zg54 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kikhd8vm45zg54>.row>.clearfix {margin-bottom:0px;}
#wa-container-kikhd8vm45zg54>.wa-container-vspacer {height:0px;}
#wa-container-kikhd8vt45zj88 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kikhd8vt45zj88>.row>.clearfix {margin-bottom:0px;}
#wa-container-kikhd8vt45zj88>.wa-container-vspacer {height:0px;}
#wa-container-kikhd8vu45zk00 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kikhd8vu45zk00>.row>.clearfix {margin-bottom:0px;}
#wa-container-kikhd8vu45zk00>.wa-container-vspacer {height:0px;}
#wa-container-kikhd8vx45zn34 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kikhd8vx45zn34>.row>.clearfix {margin-bottom:0px;}
#wa-container-kikhd8vx45zn34>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-kikhd8vt45zj88 {background-color:#c7c7c7;}
#wa-form-main-kigmhdxv620dxk {border-width:0px;background-color:#ffffff; font-size:12px; border-color:#ffffff;}
#wa-form-main-kigmhdxv620dxk .btn-primary {font-family:Arial; background-color:#f43319; color:#000000; border-color:#e0e0e0;}
#wa-form-main-kigmhdxv620dxk .btn-primary:hover {background-color:#b02412;}
#wa-form-main-kigmhdxv620dxk .header {font-family:Arial; color:#000000; text-align:center; font-size:20px;}
#wa-row-kif4p60j2v3tew>.wa-item-rowspacer {height:100px;}
#wa-row-kif4p60j2v3txk>.wa-item-rowspacer {height:75px;}
#wa-row-kif4p60j2v3uu8>.wa-item-rowspacer {height:100px;}
#wa-row-kif4p60j49bspk {margin:0px 0px;}
#wa-row-kif4p60j49bspk>div {padding: 0px 0px;}
#wa-row-kif4p60j49buhk {margin:0px 0px;}
#wa-row-kif4p60j49buhk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bumw {margin:0px 0px;}
#wa-row-kif4p60j49bumw>div {padding: 0px 0px;}
#wa-row-kif4p60j49bv2w {margin:0px 0px;}
#wa-row-kif4p60j49bv2w>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvdk {margin:0px 0px;}
#wa-row-kif4p60j49bvdk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvtk {margin:0px 0px;}
#wa-row-kif4p60j49bvtk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvyw {margin:0px 0px;}
#wa-row-kif4p60j49bvyw>div {padding: 0px 0px;}
#wa-row-kif4p60j49bwk8 {margin:0px 0px;}
#wa-row-kif4p60j49bwk8>div {padding: 0px 0px;}
#wa-row-kif4p60j49bx08 {margin:0px 0px;}
#wa-row-kif4p60j49bx08>div {padding: 0px 0px;}
#wa-row-kif9kln44ikeco {margin:0px 0px;}
#wa-row-kif9kln44ikeco>div {padding: 0px 0px;}
#wa-row-kif9kln44ikfjc {margin:0px 0px;}
#wa-row-kif9kln44ikfjc>div {padding: 0px 0px;}
#wa-row-kif9kln44ikg4o {margin:0px 0px;}
#wa-row-kif9kln44ikg4o>div {padding: 0px 0px;}
#wa-row-kif9kln44ikgiw>.wa-item-rowspacer {height:30px;}
#wa-row-kif9kln44ikgmg {margin:0px 0px;}
#wa-row-kif9kln44ikgmg>div {padding: 0px 0px;}
#wa-row-kif9kln44ikgq0 {margin:0px 0px;}
#wa-row-kif9kln44ikgq0>div {padding: 0px 0px;}
#wa-row-kif9kln477e4bc {margin:0px 0px;}
#wa-row-kif9kln477e4bc>div {padding: 0px 0px;}
#wa-row-kif9kln477e4m0 {margin:0px 0px;}
#wa-row-kif9kln477e4m0>div {padding: 0px 0px;}
#wa-row-kif9kln477e57c {margin:0px 0px;}
#wa-row-kif9kln477e57c>div {padding: 0px 0px;}
#wa-row-kif9kln477e5i0>.wa-item-rowspacer {height:30px;}
#wa-row-kif9kln477e5lk>.wa-item-rowspacer {height:30px;}
#wa-row-kif9kln477e5w8 {margin:0px 0px;}
#wa-row-kif9kln477e5w8>div {padding: 0px 0px;}
#wa-row-kif9kln477e6e0 {margin:0px 0px;}
#wa-row-kif9kln477e6e0>div {padding: 0px 0px;}
#wa-row-kif9kln477e6oo {margin:0px 0px;}
#wa-row-kif9kln477e6oo>div {padding: 0px 0px;}
#wa-row-kif9kln477e6zc {margin:0px 0px;}
#wa-row-kif9kln477e6zc>div {padding: 0px 0px;}
#wa-row-kif9kln477e76g>.wa-item-rowspacer {height:30px;}
#wa-row-kif9kln477e7a0 {margin:0px 0px;}
#wa-row-kif9kln477e7a0>div {padding: 0px 0px;}
#wa-row-kif9klov78uxu8 {margin:0px 0px;}
#wa-row-kif9klov78uxu8>div {padding: 0px 0px;}
#wa-row-kif9klov78uyts {margin:0px 0px;}
#wa-row-kif9klov78uyts>div {padding: 0px 0px;}
#wa-row-kif9klov78vd8w {margin:0px 0px;}
#wa-row-kif9klov78vd8w>div {padding: 0px 0px;}
#wa-row-kigmhdxv638msw {margin:0px 0px;}
#wa-row-kigmhdxv638msw>div {padding: 0px 0px;}
#wa-row-kigmhdxv638n3k>.wa-item-rowspacer {height:80px;}
#wa-row-kigmhdxv638n74 {margin:0px 0px;}
#wa-row-kigmhdxv638n74>div {padding: 0px 0px;}
#wa-row-kigmhdxv638pdc {margin:0px 0px;}
#wa-row-kigmhdxv638pdc>div {padding: 0px 0px;}
#wa-row-kigmik0c638e40 {margin:0px 0px;}
#wa-row-kigmik0c638e40>div {padding: 0px 0px;}
#wa-row-kigmik0c638fw0 {margin:0px 0px;}
#wa-row-kigmik0c638fw0>div {padding: 0px 0px;}
#wa-row-kigmik0c638k4w {margin:0px 0px;}
#wa-row-kigmik0c638k4w>div {padding: 0px 0px;}
#wa-row-kigmik0c638k8g>.wa-item-rowspacer {height:80px;}
#wa-row-kigmik0c638lio {margin:0px 0px;}
#wa-row-kigmik0c638lio>div {padding: 0px 0px;}
#wa-row-kigmik0c638lww {margin:0px 0px;}
#wa-row-kigmik0c638lww>div {padding: 0px 0px;}
#wa-row-kigmik0c638m0g {margin:0px 0px;}
#wa-row-kigmik0c638m0g>div {padding: 0px 0px;}
#wa-row-kigmik0c638okw>.wa-item-rowspacer {height:50px;}
#wa-sub-container-kikhd8ve2odrbs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8ve2odrbs>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8ve2odrbs>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8ve2odsvc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8ve2odsvc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8ve2odsvc>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vf2odtn4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vf2odtn4>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vf2odtn4>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vh45zd20 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vh45zd20>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vh45zd20>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vh45zgww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vh45zgww>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vh45zgww>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vi45zkrs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vi45zkrs>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vi45zkrs>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vj45zfdc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vj45zfdc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vj45zfdc>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vj45znuw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vj45znuw>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vj45znuw>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vk45zigg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vk45zigg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vk45zigg>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vm45zljk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vm45zljk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vm45zljk>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vn45zca8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vn45zca8>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vn45zca8>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vo45zdts {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vo45zdts>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vo45zdts>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vr45zhoo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vr45zhoo>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vr45zhoo>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vt45zelk {border-radius:0px 0px 0px 0px;border-width:20px 50px 20px 50px;border-style: solid;border-color:rgba(0,0,0,0);padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vt45zelk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vt45zelk>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vt45zmbc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 10px;border-style: solid;border-color:#ffffff;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vt45zmbc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vt45zmbc>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vy48res8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vy48res8>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vy48res8>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8vz48ra5k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8vz48ra5k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8vz48ra5k>.wa-container-vspacer {height:0px;}
#wa-sub-container-kikhd8w048rgbs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kikhd8w048rgbs>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kikhd8w048rgbs>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kif4p60j45ggh4] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kif4p60j45ggh4] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kif4p60j45ggh4] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-kif4p60j45ggh4] .navbar-default {background-color:rgba(248,248,248,0); border-color:rgba(247,247,247,0); border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-brand, [id^=wa-compmenu-kif4p60j45ggh4].navbar-nav li a, [id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; font-size:14px; color:#42200b;}
[id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#42200b;}
[id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-nav > .open > a:focus {color:#904417; background-color:rgba(231,231,231,0);}
[id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#42200b !important;}
[id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-toggle .icon-bar {background-color:#42200b;}
[id^=wa-compmenu-kif4p60j45ggh4] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kif4p60j45ggh4].navbar-default .navbar-toggle:hover {background-color:#42200b !important;}
[id^=wa-compmenu-kif4p60j45ggh4].navbar-fixed-top .navbar {background-color:#ffc645;}
[id^=wa-compmenu-kif9kln45j21ps] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kif9kln45j21ps] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kif9kln45j21ps] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-kif9kln45j21ps] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-brand, [id^=wa-compmenu-kif9kln45j21ps].navbar-nav li a, [id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:18px; color:#4b1a0e;}
[id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#4b1a0e;}
[id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-nav > .open > a:focus {color:#4b1a0e; background-color:#e7e7e7;}
[id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-kif9kln45j21ps] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kif9kln45j21ps].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
@media (min-width: 768px){
#wa-row-kif4p60j49bspk {margin:0px 0px;}
#wa-row-kif4p60j49bspk>div {padding: 0px 0px;}
#wa-row-kif4p60j49buhk {margin:0px 0px;}
#wa-row-kif4p60j49buhk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bumw {margin:0px 0px;}
#wa-row-kif4p60j49bumw>div {padding: 0px 0px;}
#wa-row-kif4p60j49bv2w {margin:0px 0px;}
#wa-row-kif4p60j49bv2w>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvdk {margin:0px 0px;}
#wa-row-kif4p60j49bvdk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvtk {margin:0px 0px;}
#wa-row-kif4p60j49bvtk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvyw {margin:0px 0px;}
#wa-row-kif4p60j49bvyw>div {padding: 0px 0px;}
#wa-row-kif4p60j49bwk8 {margin:0px 0px;}
#wa-row-kif4p60j49bwk8>div {padding: 0px 0px;}
#wa-row-kif4p60j49bx08 {margin:0px 0px;}
#wa-row-kif4p60j49bx08>div {padding: 0px 0px;}
#wa-row-kif9kln44ikeco {margin:0px 0px;}
#wa-row-kif9kln44ikeco>div {padding: 0px 0px;}
#wa-row-kif9kln44ikfjc {margin:0px 0px;}
#wa-row-kif9kln44ikfjc>div {padding: 0px 0px;}
#wa-row-kif9kln44ikg4o {margin:0px 0px;}
#wa-row-kif9kln44ikg4o>div {padding: 0px 0px;}
#wa-row-kif9kln44ikgmg {margin:0px 0px;}
#wa-row-kif9kln44ikgmg>div {padding: 0px 0px;}
#wa-row-kif9kln44ikgq0 {margin:0px 0px;}
#wa-row-kif9kln44ikgq0>div {padding: 0px 0px;}
#wa-row-kif9kln477e4bc {margin:0px 0px;}
#wa-row-kif9kln477e4bc>div {padding: 0px 0px;}
#wa-row-kif9kln477e4m0 {margin:0px 0px;}
#wa-row-kif9kln477e4m0>div {padding: 0px 0px;}
#wa-row-kif9kln477e57c {margin:0px 0px;}
#wa-row-kif9kln477e57c>div {padding: 0px 0px;}
#wa-row-kif9kln477e5w8 {margin:0px 0px;}
#wa-row-kif9kln477e5w8>div {padding: 0px 0px;}
#wa-row-kif9kln477e6e0 {margin:0px 0px;}
#wa-row-kif9kln477e6e0>div {padding: 0px 0px;}
#wa-row-kif9kln477e6oo {margin:0px 0px;}
#wa-row-kif9kln477e6oo>div {padding: 0px 0px;}
#wa-row-kif9kln477e6zc {margin:0px 0px;}
#wa-row-kif9kln477e6zc>div {padding: 0px 0px;}
#wa-row-kif9kln477e7a0 {margin:0px 0px;}
#wa-row-kif9kln477e7a0>div {padding: 0px 0px;}
#wa-row-kif9klov78uxu8 {margin:0px 0px;}
#wa-row-kif9klov78uxu8>div {padding: 0px 0px;}
#wa-row-kif9klov78uyts {margin:0px 0px;}
#wa-row-kif9klov78uyts>div {padding: 0px 0px;}
#wa-row-kif9klov78vd8w {margin:0px 0px;}
#wa-row-kif9klov78vd8w>div {padding: 0px 0px;}
#wa-row-kigmhdxv638msw {margin:0px 0px;}
#wa-row-kigmhdxv638msw>div {padding: 0px 0px;}
#wa-row-kigmhdxv638n74 {margin:0px 0px;}
#wa-row-kigmhdxv638n74>div {padding: 0px 0px;}
#wa-row-kigmhdxv638pdc {margin:0px 0px;}
#wa-row-kigmhdxv638pdc>div {padding: 0px 0px;}
#wa-row-kigmik0c638e40 {margin:0px 0px;}
#wa-row-kigmik0c638e40>div {padding: 0px 0px;}
#wa-row-kigmik0c638fw0 {margin:0px 0px;}
#wa-row-kigmik0c638fw0>div {padding: 0px 0px;}
#wa-row-kigmik0c638k4w {margin:0px 0px;}
#wa-row-kigmik0c638k4w>div {padding: 0px 0px;}
#wa-row-kigmik0c638lio {margin:0px 0px;}
#wa-row-kigmik0c638lio>div {padding: 0px 0px;}
#wa-row-kigmik0c638lww {margin:0px 0px;}
#wa-row-kigmik0c638lww>div {padding: 0px 0px;}
#wa-row-kigmik0c638m0g {margin:0px 0px;}
#wa-row-kigmik0c638m0g>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kif4p60j49bspk {margin:0px 0px;}
#wa-row-kif4p60j49bspk>div {padding: 0px 0px;}
#wa-row-kif4p60j49buhk {margin:0px 0px;}
#wa-row-kif4p60j49buhk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bumw {margin:0px 0px;}
#wa-row-kif4p60j49bumw>div {padding: 0px 0px;}
#wa-row-kif4p60j49bv2w {margin:0px 0px;}
#wa-row-kif4p60j49bv2w>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvdk {margin:0px 0px;}
#wa-row-kif4p60j49bvdk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvtk {margin:0px 0px;}
#wa-row-kif4p60j49bvtk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvyw {margin:0px 0px;}
#wa-row-kif4p60j49bvyw>div {padding: 0px 0px;}
#wa-row-kif4p60j49bwk8 {margin:0px 0px;}
#wa-row-kif4p60j49bwk8>div {padding: 0px 0px;}
#wa-row-kif4p60j49bx08 {margin:0px 0px;}
#wa-row-kif4p60j49bx08>div {padding: 0px 0px;}
#wa-row-kif9kln44ikeco {margin:0px 0px;}
#wa-row-kif9kln44ikeco>div {padding: 0px 0px;}
#wa-row-kif9kln44ikfjc {margin:0px 0px;}
#wa-row-kif9kln44ikfjc>div {padding: 0px 0px;}
#wa-row-kif9kln44ikg4o {margin:0px 0px;}
#wa-row-kif9kln44ikg4o>div {padding: 0px 0px;}
#wa-row-kif9kln44ikgmg {margin:0px 0px;}
#wa-row-kif9kln44ikgmg>div {padding: 0px 0px;}
#wa-row-kif9kln44ikgq0 {margin:0px 0px;}
#wa-row-kif9kln44ikgq0>div {padding: 0px 0px;}
#wa-row-kif9kln477e4bc {margin:0px 0px;}
#wa-row-kif9kln477e4bc>div {padding: 0px 0px;}
#wa-row-kif9kln477e4m0 {margin:0px 0px;}
#wa-row-kif9kln477e4m0>div {padding: 0px 0px;}
#wa-row-kif9kln477e57c {margin:0px 0px;}
#wa-row-kif9kln477e57c>div {padding: 0px 0px;}
#wa-row-kif9kln477e5w8 {margin:0px 0px;}
#wa-row-kif9kln477e5w8>div {padding: 0px 0px;}
#wa-row-kif9kln477e6e0 {margin:0px 0px;}
#wa-row-kif9kln477e6e0>div {padding: 0px 0px;}
#wa-row-kif9kln477e6oo {margin:0px 0px;}
#wa-row-kif9kln477e6oo>div {padding: 0px 0px;}
#wa-row-kif9kln477e6zc {margin:0px 0px;}
#wa-row-kif9kln477e6zc>div {padding: 0px 0px;}
#wa-row-kif9kln477e7a0 {margin:0px 0px;}
#wa-row-kif9kln477e7a0>div {padding: 0px 0px;}
#wa-row-kif9klov78uxu8 {margin:0px 0px;}
#wa-row-kif9klov78uxu8>div {padding: 0px 0px;}
#wa-row-kif9klov78uyts {margin:0px 0px;}
#wa-row-kif9klov78uyts>div {padding: 0px 0px;}
#wa-row-kif9klov78vd8w {margin:0px 0px;}
#wa-row-kif9klov78vd8w>div {padding: 0px 0px;}
#wa-row-kigmhdxv638msw {margin:0px 0px;}
#wa-row-kigmhdxv638msw>div {padding: 0px 0px;}
#wa-row-kigmhdxv638n74 {margin:0px 0px;}
#wa-row-kigmhdxv638n74>div {padding: 0px 0px;}
#wa-row-kigmhdxv638pdc {margin:0px 0px;}
#wa-row-kigmhdxv638pdc>div {padding: 0px 0px;}
#wa-row-kigmik0c638e40 {margin:0px 0px;}
#wa-row-kigmik0c638e40>div {padding: 0px 0px;}
#wa-row-kigmik0c638fw0 {margin:0px 0px;}
#wa-row-kigmik0c638fw0>div {padding: 0px 0px;}
#wa-row-kigmik0c638k4w {margin:0px 0px;}
#wa-row-kigmik0c638k4w>div {padding: 0px 0px;}
#wa-row-kigmik0c638lio {margin:0px 0px;}
#wa-row-kigmik0c638lio>div {padding: 0px 0px;}
#wa-row-kigmik0c638lww {margin:0px 0px;}
#wa-row-kigmik0c638lww>div {padding: 0px 0px;}
#wa-row-kigmik0c638m0g {margin:0px 0px;}
#wa-row-kigmik0c638m0g>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kif4p60j49bspk {margin:0px 0px;}
#wa-row-kif4p60j49bspk>div {padding: 0px 0px;}
#wa-row-kif4p60j49buhk {margin:0px 0px;}
#wa-row-kif4p60j49buhk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bumw {margin:0px 0px;}
#wa-row-kif4p60j49bumw>div {padding: 0px 0px;}
#wa-row-kif4p60j49bv2w {margin:0px 0px;}
#wa-row-kif4p60j49bv2w>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvdk {margin:0px 0px;}
#wa-row-kif4p60j49bvdk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvtk {margin:0px 0px;}
#wa-row-kif4p60j49bvtk>div {padding: 0px 0px;}
#wa-row-kif4p60j49bvyw {margin:0px 0px;}
#wa-row-kif4p60j49bvyw>div {padding: 0px 0px;}
#wa-row-kif4p60j49bwk8 {margin:0px 0px;}
#wa-row-kif4p60j49bwk8>div {padding: 0px 0px;}
#wa-row-kif4p60j49bx08 {margin:0px 0px;}
#wa-row-kif4p60j49bx08>div {padding: 0px 0px;}
#wa-row-kif9kln44ikeco {margin:0px 0px;}
#wa-row-kif9kln44ikeco>div {padding: 0px 0px;}
#wa-row-kif9kln44ikfjc {margin:0px 0px;}
#wa-row-kif9kln44ikfjc>div {padding: 0px 0px;}
#wa-row-kif9kln44ikg4o {margin:0px 0px;}
#wa-row-kif9kln44ikg4o>div {padding: 0px 0px;}
#wa-row-kif9kln44ikgmg {margin:0px 0px;}
#wa-row-kif9kln44ikgmg>div {padding: 0px 0px;}
#wa-row-kif9kln44ikgq0 {margin:0px 0px;}
#wa-row-kif9kln44ikgq0>div {padding: 0px 0px;}
#wa-row-kif9kln477e4bc {margin:0px 0px;}
#wa-row-kif9kln477e4bc>div {padding: 0px 0px;}
#wa-row-kif9kln477e4m0 {margin:0px 0px;}
#wa-row-kif9kln477e4m0>div {padding: 0px 0px;}
#wa-row-kif9kln477e57c {margin:0px 0px;}
#wa-row-kif9kln477e57c>div {padding: 0px 0px;}
#wa-row-kif9kln477e5w8 {margin:0px 0px;}
#wa-row-kif9kln477e5w8>div {padding: 0px 0px;}
#wa-row-kif9kln477e6e0 {margin:0px 0px;}
#wa-row-kif9kln477e6e0>div {padding: 0px 0px;}
#wa-row-kif9kln477e6oo {margin:0px 0px;}
#wa-row-kif9kln477e6oo>div {padding: 0px 0px;}
#wa-row-kif9kln477e6zc {margin:0px 0px;}
#wa-row-kif9kln477e6zc>div {padding: 0px 0px;}
#wa-row-kif9kln477e7a0 {margin:0px 0px;}
#wa-row-kif9kln477e7a0>div {padding: 0px 0px;}
#wa-row-kif9klov78uxu8 {margin:0px 0px;}
#wa-row-kif9klov78uxu8>div {padding: 0px 0px;}
#wa-row-kif9klov78uyts {margin:0px 0px;}
#wa-row-kif9klov78uyts>div {padding: 0px 0px;}
#wa-row-kif9klov78vd8w {margin:0px 0px;}
#wa-row-kif9klov78vd8w>div {padding: 0px 0px;}
#wa-row-kigmhdxv638msw {margin:0px 0px;}
#wa-row-kigmhdxv638msw>div {padding: 0px 0px;}
#wa-row-kigmhdxv638n74 {margin:0px 0px;}
#wa-row-kigmhdxv638n74>div {padding: 0px 0px;}
#wa-row-kigmhdxv638pdc {margin:0px 0px;}
#wa-row-kigmhdxv638pdc>div {padding: 0px 0px;}
#wa-row-kigmik0c638e40 {margin:0px 0px;}
#wa-row-kigmik0c638e40>div {padding: 0px 0px;}
#wa-row-kigmik0c638fw0 {margin:0px 0px;}
#wa-row-kigmik0c638fw0>div {padding: 0px 0px;}
#wa-row-kigmik0c638k4w {margin:0px 0px;}
#wa-row-kigmik0c638k4w>div {padding: 0px 0px;}
#wa-row-kigmik0c638lio {margin:0px 0px;}
#wa-row-kigmik0c638lio>div {padding: 0px 0px;}
#wa-row-kigmik0c638lww {margin:0px 0px;}
#wa-row-kigmik0c638lww>div {padding: 0px 0px;}
#wa-row-kigmik0c638m0g {margin:0px 0px;}
#wa-row-kigmik0c638m0g>div {padding: 0px 0px;}
}
