#wa-compimage-klcjcz4l6fgdl4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-klcjcz4l4uybfc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-klcjcz4l4uyfm8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-klcjcz4l4uyi0g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-klcjcz4l4uyim0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-klcjcz4l4uykeo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-klcn3iup6yb4m0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-klcn3iup6yb4m0>.row>.clearfix {margin-bottom:0px;}
#wa-container-klcn3iup6yb4m0>.wa-container-vspacer {height:0px;}
#wa-container-klcn3iux6dt6tk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-klcn3iux6dt6tk>.row>.clearfix {margin-bottom:0px;}
#wa-container-klcn3iux6dt6tk>.wa-container-vspacer {height:0px;}
#wa-row-klcjcz4l4vm4z4>.wa-item-rowspacer {height:100px;}
#wa-row-klcjcz4l4vm53s>.wa-item-rowspacer {height:75px;}
#wa-row-klcjcz4l4vm6sg>.wa-item-rowspacer {height:100px;}
#wa-row-klcjcz4l4vm6x4>.wa-item-rowspacer {height:80px;}
#wa-row-klcjcz4l4vvxeo {margin:0px 0px;}
#wa-row-klcjcz4l4vvxeo>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvxpc {margin:0px 0px;}
#wa-row-klcjcz4l4vvxpc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvy5c {margin:0px 0px;}
#wa-row-klcjcz4l4vvy5c>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvylc {margin:0px 0px;}
#wa-row-klcjcz4l4vvylc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvzhc {margin:0px 0px;}
#wa-row-klcjcz4l4vvzhc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvzxc {margin:0px 0px;}
#wa-row-klcjcz4l4vvzxc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw02o {margin:0px 0px;}
#wa-row-klcjcz4l4vw02o>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw1pc {margin:0px 0px;}
#wa-row-klcjcz4l4vw1pc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw2lc {margin:0px 0px;}
#wa-row-klcjcz4l4vw2lc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw31c {margin:0px 0px;}
#wa-row-klcjcz4l4vw31c>div {padding: 0px 0px;}
#wa-row-klcjcz4layhgw {margin:0px 0px;}
#wa-row-klcjcz4layhgw>div {padding: 0px 0px;}
#wa-row-klcjcz4layhm8 {margin:0px 0px;}
#wa-row-klcjcz4layhm8>div {padding: 0px 0px;}
#wa-sub-container-klcn3iup6yb5ds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-klcn3iup6yb5ds>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-klcn3iup6yb5ds>.wa-container-vspacer {height:0px;}
#wa-sub-container-klcn3iur6yb65k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-klcn3iur6yb65k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-klcn3iur6yb65k>.wa-container-vspacer {height:0px;}
#wa-sub-container-klcn3ius6yb7p4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-klcn3ius6yb7p4>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-klcn3ius6yb7p4>.wa-container-vspacer {height:0px;}
#wa-sub-container-klcn3iuv6yb8gw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-klcn3iuv6yb8gw>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-klcn3iuv6yb8gw>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-klcjcz4l4ueiaw] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-klcjcz4l4ueiaw] .dropdown-menu > li > a:hover, [id^=wa-compmenu-klcjcz4l4ueiaw] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default {background-color:rgba(248,248,248,0); border-color:rgba(247,247,247,0); border-width:1px; border-radius:4px;}
[id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-brand, [id^=wa-compmenu-klcjcz4l4ueiaw].navbar-nav li a, [id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; font-size:14px; color:#42200b;}
[id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#42200b;}
[id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-nav > .open > a:focus {color:#904417; background-color:rgba(231,231,231,0);}
[id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#42200b !important;}
[id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-toggle .icon-bar {background-color:#42200b;}
[id^=wa-compmenu-klcjcz4l4ueiaw] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-klcjcz4l4ueiaw].navbar-default .navbar-toggle:hover {background-color:#42200b !important;}
[id^=wa-compmenu-klcjcz4l4ueiaw].navbar-fixed-top .navbar {background-color:#ffc645;}
[id^=wa-compmenu-klcjcz4l4uekmw] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-klcjcz4l4uekmw] .dropdown-menu > li > a:hover, [id^=wa-compmenu-klcjcz4l4uekmw] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-brand, [id^=wa-compmenu-klcjcz4l4uekmw].navbar-nav li a, [id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:18px; color:#4b1a0e;}
[id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#4b1a0e;}
[id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-nav > .open > a:focus {color:#4b1a0e; background-color:#e7e7e7;}
[id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-klcjcz4l4uekmw] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-klcjcz4l4uekmw].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
@media (min-width: 768px){
#wa-row-klcjcz4l4vvxeo {margin:0px 0px;}
#wa-row-klcjcz4l4vvxeo>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvxpc {margin:0px 0px;}
#wa-row-klcjcz4l4vvxpc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvy5c {margin:0px 0px;}
#wa-row-klcjcz4l4vvy5c>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvylc {margin:0px 0px;}
#wa-row-klcjcz4l4vvylc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvzhc {margin:0px 0px;}
#wa-row-klcjcz4l4vvzhc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvzxc {margin:0px 0px;}
#wa-row-klcjcz4l4vvzxc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw02o {margin:0px 0px;}
#wa-row-klcjcz4l4vw02o>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw1pc {margin:0px 0px;}
#wa-row-klcjcz4l4vw1pc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw2lc {margin:0px 0px;}
#wa-row-klcjcz4l4vw2lc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw31c {margin:0px 0px;}
#wa-row-klcjcz4l4vw31c>div {padding: 0px 0px;}
#wa-row-klcjcz4layhgw {margin:0px 0px;}
#wa-row-klcjcz4layhgw>div {padding: 0px 0px;}
#wa-row-klcjcz4layhm8 {margin:0px 0px;}
#wa-row-klcjcz4layhm8>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-klcjcz4l4vvxeo {margin:0px 0px;}
#wa-row-klcjcz4l4vvxeo>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvxpc {margin:0px 0px;}
#wa-row-klcjcz4l4vvxpc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvy5c {margin:0px 0px;}
#wa-row-klcjcz4l4vvy5c>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvylc {margin:0px 0px;}
#wa-row-klcjcz4l4vvylc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvzhc {margin:0px 0px;}
#wa-row-klcjcz4l4vvzhc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvzxc {margin:0px 0px;}
#wa-row-klcjcz4l4vvzxc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw02o {margin:0px 0px;}
#wa-row-klcjcz4l4vw02o>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw1pc {margin:0px 0px;}
#wa-row-klcjcz4l4vw1pc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw2lc {margin:0px 0px;}
#wa-row-klcjcz4l4vw2lc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw31c {margin:0px 0px;}
#wa-row-klcjcz4l4vw31c>div {padding: 0px 0px;}
#wa-row-klcjcz4layhgw {margin:0px 0px;}
#wa-row-klcjcz4layhgw>div {padding: 0px 0px;}
#wa-row-klcjcz4layhm8 {margin:0px 0px;}
#wa-row-klcjcz4layhm8>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-klcjcz4l4vvxeo {margin:0px 0px;}
#wa-row-klcjcz4l4vvxeo>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvxpc {margin:0px 0px;}
#wa-row-klcjcz4l4vvxpc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvy5c {margin:0px 0px;}
#wa-row-klcjcz4l4vvy5c>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvylc {margin:0px 0px;}
#wa-row-klcjcz4l4vvylc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvzhc {margin:0px 0px;}
#wa-row-klcjcz4l4vvzhc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vvzxc {margin:0px 0px;}
#wa-row-klcjcz4l4vvzxc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw02o {margin:0px 0px;}
#wa-row-klcjcz4l4vw02o>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw1pc {margin:0px 0px;}
#wa-row-klcjcz4l4vw1pc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw2lc {margin:0px 0px;}
#wa-row-klcjcz4l4vw2lc>div {padding: 0px 0px;}
#wa-row-klcjcz4l4vw31c {margin:0px 0px;}
#wa-row-klcjcz4l4vw31c>div {padding: 0px 0px;}
#wa-row-klcjcz4layhgw {margin:0px 0px;}
#wa-row-klcjcz4layhgw>div {padding: 0px 0px;}
#wa-row-klcjcz4layhm8 {margin:0px 0px;}
#wa-row-klcjcz4layhm8>div {padding: 0px 0px;}
}
