#wa-compimage-kikurdda48o44w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-kikurdda5joq4w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kikurdda5josj4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kikurdda5jotq8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kikurdda5joubs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kikurdda5jp4i8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kikurdda5jp8p4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kiojzwzd45ybkw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kiojzwzd45ybkw>.row>.clearfix {margin-bottom:0px;}
#wa-container-kiojzwzd45ybkw>.wa-container-vspacer {height:0px;}
#wa-container-kiojzwzt5bwdts {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kiojzwzt5bwdts>.row>.clearfix {margin-bottom:0px;}
#wa-container-kiojzwzt5bwdts>.wa-container-vspacer {height:0px;}
#wa-row-kikurdda4f8gtk {margin:0px 0px;}
#wa-row-kikurdda4f8gtk>div {padding: 0px 0px;}
#wa-row-kikurdda4f8i5k {margin:0px 0px;}
#wa-row-kikurdda4f8i5k>div {padding: 0px 0px;}
#wa-row-kikurdda4f8iaw {margin:0px 0px;}
#wa-row-kikurdda4f8iaw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8ig8 {margin:0px 0px;}
#wa-row-kikurdda4f8ig8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8iw8 {margin:0px 0px;}
#wa-row-kikurdda4f8iw8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8j6w {margin:0px 0px;}
#wa-row-kikurdda4f8j6w>div {padding: 0px 0px;}
#wa-row-kikurdda4f8jc8 {margin:0px 0px;}
#wa-row-kikurdda4f8jc8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8kiw {margin:0px 0px;}
#wa-row-kikurdda4f8kiw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8ktk {margin:0px 0px;}
#wa-row-kikurdda4f8ktk>div {padding: 0px 0px;}
#wa-row-kikurdda4f8kyw {margin:0px 0px;}
#wa-row-kikurdda4f8kyw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8lk8 {margin:0px 0px;}
#wa-row-kikurdda4f8lk8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8mg8 {margin:0px 0px;}
#wa-row-kikurdda4f8mg8>div {padding: 0px 0px;}
#wa-row-kikurdda5nzg4o>.wa-item-rowspacer {height:80px;}
#wa-row-kikurdda5nzhy0>.wa-item-rowspacer {height:100px;}
#wa-row-kikurdda5nzi2o>.wa-item-rowspacer {height:100px;}
#wa-row-kikurdda5nzizc>.wa-item-rowspacer {height:75px;}
#wa-sub-container-kiojzwzd45yffs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kiojzwzd45yffs>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kiojzwzd45yffs>.wa-container-vspacer {height:0px;}
#wa-sub-container-kiojzwzd45yg7k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kiojzwzd45yg7k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kiojzwzd45yg7k>.wa-container-vspacer {height:0px;}
#wa-sub-container-kiojzwzt5bw9yw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kiojzwzt5bw9yw>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kiojzwzt5bw9yw>.wa-container-vspacer {height:0px;}
#wa-sub-container-kiojzwzt5bwelk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kiojzwzt5bwelk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kiojzwzt5bwelk>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kikurdda47g05k] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kikurdda47g05k] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kikurdda47g05k] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-kikurdda47g05k] .navbar-default {background-color:rgba(248,248,248,0); border-color:rgba(247,247,247,0); border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-brand, [id^=wa-compmenu-kikurdda47g05k].navbar-nav li a, [id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; font-size:14px; color:#42200b;}
[id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#42200b;}
[id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-nav > .open > a:focus {color:#904417; background-color:rgba(231,231,231,0);}
[id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#42200b !important;}
[id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-toggle .icon-bar {background-color:#42200b;}
[id^=wa-compmenu-kikurdda47g05k] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kikurdda47g05k].navbar-default .navbar-toggle:hover {background-color:#42200b !important;}
[id^=wa-compmenu-kikurdda47g05k].navbar-fixed-top .navbar {background-color:#ffc645;}
[id^=wa-compmenu-kimgl5rr49kuzc] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kimgl5rr49kuzc] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kimgl5rr49kuzc] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-brand, [id^=wa-compmenu-kimgl5rr49kuzc].navbar-nav li a, [id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:18px; color:#4b1a0e;}
[id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#4b1a0e;}
[id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-nav > .open > a:focus {color:#4b1a0e; background-color:#e7e7e7;}
[id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-kimgl5rr49kuzc] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kimgl5rr49kuzc].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
@media (min-width: 768px){
#wa-row-kikurdda4f8gtk {margin:0px 0px;}
#wa-row-kikurdda4f8gtk>div {padding: 0px 0px;}
#wa-row-kikurdda4f8i5k {margin:0px 0px;}
#wa-row-kikurdda4f8i5k>div {padding: 0px 0px;}
#wa-row-kikurdda4f8iaw {margin:0px 0px;}
#wa-row-kikurdda4f8iaw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8ig8 {margin:0px 0px;}
#wa-row-kikurdda4f8ig8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8iw8 {margin:0px 0px;}
#wa-row-kikurdda4f8iw8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8j6w {margin:0px 0px;}
#wa-row-kikurdda4f8j6w>div {padding: 0px 0px;}
#wa-row-kikurdda4f8jc8 {margin:0px 0px;}
#wa-row-kikurdda4f8jc8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8kiw {margin:0px 0px;}
#wa-row-kikurdda4f8kiw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8ktk {margin:0px 0px;}
#wa-row-kikurdda4f8ktk>div {padding: 0px 0px;}
#wa-row-kikurdda4f8kyw {margin:0px 0px;}
#wa-row-kikurdda4f8kyw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8lk8 {margin:0px 0px;}
#wa-row-kikurdda4f8lk8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8mg8 {margin:0px 0px;}
#wa-row-kikurdda4f8mg8>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kikurdda4f8gtk {margin:0px 0px;}
#wa-row-kikurdda4f8gtk>div {padding: 0px 0px;}
#wa-row-kikurdda4f8i5k {margin:0px 0px;}
#wa-row-kikurdda4f8i5k>div {padding: 0px 0px;}
#wa-row-kikurdda4f8iaw {margin:0px 0px;}
#wa-row-kikurdda4f8iaw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8ig8 {margin:0px 0px;}
#wa-row-kikurdda4f8ig8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8iw8 {margin:0px 0px;}
#wa-row-kikurdda4f8iw8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8j6w {margin:0px 0px;}
#wa-row-kikurdda4f8j6w>div {padding: 0px 0px;}
#wa-row-kikurdda4f8jc8 {margin:0px 0px;}
#wa-row-kikurdda4f8jc8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8kiw {margin:0px 0px;}
#wa-row-kikurdda4f8kiw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8ktk {margin:0px 0px;}
#wa-row-kikurdda4f8ktk>div {padding: 0px 0px;}
#wa-row-kikurdda4f8kyw {margin:0px 0px;}
#wa-row-kikurdda4f8kyw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8lk8 {margin:0px 0px;}
#wa-row-kikurdda4f8lk8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8mg8 {margin:0px 0px;}
#wa-row-kikurdda4f8mg8>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kikurdda4f8gtk {margin:0px 0px;}
#wa-row-kikurdda4f8gtk>div {padding: 0px 0px;}
#wa-row-kikurdda4f8i5k {margin:0px 0px;}
#wa-row-kikurdda4f8i5k>div {padding: 0px 0px;}
#wa-row-kikurdda4f8iaw {margin:0px 0px;}
#wa-row-kikurdda4f8iaw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8ig8 {margin:0px 0px;}
#wa-row-kikurdda4f8ig8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8iw8 {margin:0px 0px;}
#wa-row-kikurdda4f8iw8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8j6w {margin:0px 0px;}
#wa-row-kikurdda4f8j6w>div {padding: 0px 0px;}
#wa-row-kikurdda4f8jc8 {margin:0px 0px;}
#wa-row-kikurdda4f8jc8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8kiw {margin:0px 0px;}
#wa-row-kikurdda4f8kiw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8ktk {margin:0px 0px;}
#wa-row-kikurdda4f8ktk>div {padding: 0px 0px;}
#wa-row-kikurdda4f8kyw {margin:0px 0px;}
#wa-row-kikurdda4f8kyw>div {padding: 0px 0px;}
#wa-row-kikurdda4f8lk8 {margin:0px 0px;}
#wa-row-kikurdda4f8lk8>div {padding: 0px 0px;}
#wa-row-kikurdda4f8mg8 {margin:0px 0px;}
#wa-row-kikurdda4f8mg8>div {padding: 0px 0px;}
}
