#wa-compimage-kij2kujn5f9pg8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-kij2kujn4anlg0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kij2kujn5j99xc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kij2kujn5j9cbk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kij2kujn5j9fbc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kij2kujn5j9hpk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kl2tlwxw5nudow {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kl2tlwxw5nudow>.row>.clearfix {margin-bottom:0px;}
#wa-container-kl2tlwxw5nudow>.wa-container-vspacer {height:0px;}
#wa-container-kl2tlwy45nu5z4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kl2tlwy45nu5z4>.row>.clearfix {margin-bottom:0px;}
#wa-container-kl2tlwy45nu5z4>.wa-container-vspacer {height:0px;}
#wa-row-kij2kujn5du0dc>.wa-item-rowspacer {height:75px;}
#wa-row-kij2kujn5du220>.wa-item-rowspacer {height:80px;}
#wa-row-kij2kujn5du2pc>.wa-item-rowspacer {height:100px;}
#wa-row-kij2kujn5du3qo>.wa-item-rowspacer {height:100px;}
#wa-row-kij2kujn5en1b4 {margin:0px 0px;}
#wa-row-kij2kujn5en1b4>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1gg {margin:0px 0px;}
#wa-row-kij2kujn5en1gg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1ls {margin:0px 0px;}
#wa-row-kij2kujn5en1ls>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1wg {margin:0px 0px;}
#wa-row-kij2kujn5en1wg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en274 {margin:0px 0px;}
#wa-row-kij2kujn5en274>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2hs {margin:0px 0px;}
#wa-row-kij2kujn5en2hs>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2sg {margin:0px 0px;}
#wa-row-kij2kujn5en2sg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2xs {margin:0px 0px;}
#wa-row-kij2kujn5en2xs>div {padding: 0px 0px;}
#wa-row-kij2kujn5en334 {margin:0px 0px;}
#wa-row-kij2kujn5en334>div {padding: 0px 0px;}
#wa-row-kij2kujn5en3og {margin:0px 0px;}
#wa-row-kij2kujn5en3og>div {padding: 0px 0px;}
#wa-row-kij2kujn5en3z4 {margin:0px 0px;}
#wa-row-kij2kujn5en3z4>div {padding: 0px 0px;}
#wa-row-kij2kujn5en5ls {margin:0px 0px;}
#wa-row-kij2kujn5en5ls>div {padding: 0px 0px;}
#wa-sub-container-kl2tlwxw5nu3ns {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kl2tlwxw5nu3ns>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kl2tlwxw5nu3ns>.wa-container-vspacer {height:0px;}
#wa-sub-container-kl2tlwxy5nubdk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kl2tlwxy5nubdk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kl2tlwxy5nubdk>.wa-container-vspacer {height:0px;}
#wa-sub-container-kl2tlwy05nuf8g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kl2tlwy05nuf8g>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kl2tlwy05nuf8g>.wa-container-vspacer {height:0px;}
#wa-sub-container-kl2tlwy25nu928 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kl2tlwy25nu928>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kl2tlwy25nu928>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kij2kujn4c86w0] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kij2kujn4c86w0] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kij2kujn4c86w0] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-kij2kujn4c86w0] .navbar-default {background-color:rgba(248,248,248,0); border-color:rgba(247,247,247,0); border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-brand, [id^=wa-compmenu-kij2kujn4c86w0].navbar-nav li a, [id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif; font-size:14px; color:#42200b;}
[id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#42200b;}
[id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-nav > .open > a:focus {color:#904417; background-color:rgba(231,231,231,0);}
[id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#42200b !important;}
[id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-toggle .icon-bar {background-color:#42200b;}
[id^=wa-compmenu-kij2kujn4c86w0] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kij2kujn4c86w0].navbar-default .navbar-toggle:hover {background-color:#42200b !important;}
[id^=wa-compmenu-kij2kujn4c86w0].navbar-fixed-top .navbar {background-color:#ffc645;}
[id^=wa-compmenu-kiovtc9j48cuq8] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kiovtc9j48cuq8] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kiovtc9j48cuq8] .dropdown-menu > li > a:focus {background-color:#ffffff;}
[id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default {background-color:#ffffff; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-brand, [id^=wa-compmenu-kiovtc9j48cuq8].navbar-nav li a, [id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:18px; color:#4b1a0e;}
[id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#4b1a0e;}
[id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-nav > .open > a:focus {color:#4b1a0e; background-color:#e7e7e7;}
[id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-kiovtc9j48cuq8] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kiovtc9j48cuq8].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
@media (min-width: 768px){
#wa-row-kij2kujn5en1b4 {margin:0px 0px;}
#wa-row-kij2kujn5en1b4>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1gg {margin:0px 0px;}
#wa-row-kij2kujn5en1gg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1ls {margin:0px 0px;}
#wa-row-kij2kujn5en1ls>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1wg {margin:0px 0px;}
#wa-row-kij2kujn5en1wg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en274 {margin:0px 0px;}
#wa-row-kij2kujn5en274>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2hs {margin:0px 0px;}
#wa-row-kij2kujn5en2hs>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2sg {margin:0px 0px;}
#wa-row-kij2kujn5en2sg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2xs {margin:0px 0px;}
#wa-row-kij2kujn5en2xs>div {padding: 0px 0px;}
#wa-row-kij2kujn5en334 {margin:0px 0px;}
#wa-row-kij2kujn5en334>div {padding: 0px 0px;}
#wa-row-kij2kujn5en3og {margin:0px 0px;}
#wa-row-kij2kujn5en3og>div {padding: 0px 0px;}
#wa-row-kij2kujn5en3z4 {margin:0px 0px;}
#wa-row-kij2kujn5en3z4>div {padding: 0px 0px;}
#wa-row-kij2kujn5en5ls {margin:0px 0px;}
#wa-row-kij2kujn5en5ls>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kij2kujn5en1b4 {margin:0px 0px;}
#wa-row-kij2kujn5en1b4>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1gg {margin:0px 0px;}
#wa-row-kij2kujn5en1gg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1ls {margin:0px 0px;}
#wa-row-kij2kujn5en1ls>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1wg {margin:0px 0px;}
#wa-row-kij2kujn5en1wg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en274 {margin:0px 0px;}
#wa-row-kij2kujn5en274>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2hs {margin:0px 0px;}
#wa-row-kij2kujn5en2hs>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2sg {margin:0px 0px;}
#wa-row-kij2kujn5en2sg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2xs {margin:0px 0px;}
#wa-row-kij2kujn5en2xs>div {padding: 0px 0px;}
#wa-row-kij2kujn5en334 {margin:0px 0px;}
#wa-row-kij2kujn5en334>div {padding: 0px 0px;}
#wa-row-kij2kujn5en3og {margin:0px 0px;}
#wa-row-kij2kujn5en3og>div {padding: 0px 0px;}
#wa-row-kij2kujn5en3z4 {margin:0px 0px;}
#wa-row-kij2kujn5en3z4>div {padding: 0px 0px;}
#wa-row-kij2kujn5en5ls {margin:0px 0px;}
#wa-row-kij2kujn5en5ls>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kij2kujn5en1b4 {margin:0px 0px;}
#wa-row-kij2kujn5en1b4>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1gg {margin:0px 0px;}
#wa-row-kij2kujn5en1gg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1ls {margin:0px 0px;}
#wa-row-kij2kujn5en1ls>div {padding: 0px 0px;}
#wa-row-kij2kujn5en1wg {margin:0px 0px;}
#wa-row-kij2kujn5en1wg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en274 {margin:0px 0px;}
#wa-row-kij2kujn5en274>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2hs {margin:0px 0px;}
#wa-row-kij2kujn5en2hs>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2sg {margin:0px 0px;}
#wa-row-kij2kujn5en2sg>div {padding: 0px 0px;}
#wa-row-kij2kujn5en2xs {margin:0px 0px;}
#wa-row-kij2kujn5en2xs>div {padding: 0px 0px;}
#wa-row-kij2kujn5en334 {margin:0px 0px;}
#wa-row-kij2kujn5en334>div {padding: 0px 0px;}
#wa-row-kij2kujn5en3og {margin:0px 0px;}
#wa-row-kij2kujn5en3og>div {padding: 0px 0px;}
#wa-row-kij2kujn5en3z4 {margin:0px 0px;}
#wa-row-kij2kujn5en3z4>div {padding: 0px 0px;}
#wa-row-kij2kujn5en5ls {margin:0px 0px;}
#wa-row-kij2kujn5en5ls>div {padding: 0px 0px;}
}
